<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
</head>
<body>
<h2>Games</h2>
<table>
    <thead>
    <tr>
        <th>Difficulty</th>
        <th>Status</th>
        <th>Last Played</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="game : ${games}">
        <td th:text="${game.difficulty}"></td>
        <td th:text="${game.state == 'NEW' ? 'New Game' : 'In Progress'}"></td>
        <td th:text="${game.endDate}"></td>
        <td>
            <button th:onclick="'location.href=\'/game/' + ${game.id} + '\';'">Play</button>
            <button th:onclick="'deleteGame(' + ${game.id} + ');'">Delete</button>
        </td>
    </tr>
    </tbody>
    <script th:src="@{/js/games.js}"></script>
</table>
</body>
</html>