<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Minesweeper</title>
    <link rel="stylesheet" th:href="@{/css/game.css}">
</head>
<body>

<div class="screen" id="gameScreen">
    <div id="gameStatus"></div>
    <div id="gameBoard">
        <canvas id="gameCanvas"></canvas>
        <div id="controls">
            <button id="restartButton">Restart</button>
            <button id="menu2Button">Back to Games</button>
        </div>
    </div>
</div>

<div class="modal hidden" id="gameOverModal">
    <div class="modal-content">
        <p class="close" id="closeGameOverModal">&times;</p>
        <div id="gameInfo">
            <h2 id="gameOverHeader"></h2>
            <p id="gameOverMessage"></p>
            <p id="gameOverTime"></p>
            <button id="newGameButton">New Game</button>
            <button id="menuButton">Back to Games</button>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var gameData = /*[[${game}]]*/ {};
    var mineImgSrc = /*[[@{/images/mine.svg}]]*/ '';
    var flagImgSrc = /*[[@{/images/flag.svg}]]*/ '';
    var invalidImgSrc = /*[[@{/images/invalid.svg}]]*/ '';
    var startGameSoundSrc = /*[[@{/sounds/start-game.mp3}]]*/ '';
    var explosionSoundSrc = /*[[@{/sounds/explosion.mp3}]]*/ '';
    var smallExplosionSoundSrc = /*[[@{/sounds/small-explosion.mp3}]]*/ '';
    var victorySoundSrc = /*[[@{/sounds/victory.mp3}]]*/ '';
    var flagSoundSrc = /*[[@{/sounds/flag.mp3}]]*/ '';
    var openSoundSrc = /*[[@{/sounds/open.mp3}]]*/ '';
    var selectSoundSrc = /*[[@{/sounds/select.mp3}]]*/ '';
    /*]]>*/
</script>
<script th:src="@{/js/game.js}" type="module"></script>
</body>
</html>