<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Minesweeper</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/intro.css}">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/0786c5feec.js"></script>
</head>
<body>
<input id="menu-toggle" type="checkbox">
<label for="menu-toggle">
    <i aria-hidden="true" class="fas fa-times"></i>
    <i aria-hidden="true" class="fas fa-bars"></i>
</label>
<div class="page-content-wrapper">
    <div class="page-content">
        <main class="container">
            <h2 class="title">Minesweeper</h2>
        </main>
    </div>
</div>
<div class="menu">
    <div id="controls">
        <button id="newGameButton">New Game</button>
        <button id="loadGameButton">Game History</button>
    </div>
</div>
<script th:src="@{/js/intro.js}" type="module"></script>
</body>
</html>